/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

section > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1a1a1a;
  color: #9ba6c7;
  font-family: "Poppins", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 100%;
}

.para {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

.section {
  padding: 5rem 1rem 7.5rem;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
  .section {
    padding: 5rem 2.5rem 7.5rem;
  }
}

h1 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2;
  color: #FFF;
}

h2 {
  font-size: 2em;
  color: #FFF;
  line-height: 1.1;
}

h3 {
  font-size: 1.75em;
  color: #9ba6c7;
}

@media only screen and (min-width: 480px) {
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 2.5em;
  }
}

p {
  max-width: 60ch;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.cta:link, .cta:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12.5rem;
  height: 3.5rem;
  color: #27ae60;
  font-weight: bold;
  text-decoration: none;
  border: solid 3px #27ae60;
  border-radius: 3px;
  -webkit-transition: background-color .3s, color .3s, border .3s;
  transition: background-color .3s, color .3s, border .3s;
}

.cta:hover, .cta:active {
  background-color: #2ecb6f;
  color: #FFF;
  border: solid 3px #2ecb6f;
}

.header .navigation {
  height: 80px;
  width: 90vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navigation__logo {
  width: 2rem;
  height: 2rem;
}

.header .navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header .navigation__list__link::before, .header .navigation__list__link--lang::before {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2ecb6f;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform .25s ease-out;
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out, -webkit-transform .25s ease-out;
}

.header .navigation__list__link:hover::before, .header .navigation__list__link--lang:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.header .navigation__list__link:link, .header .navigation__list__link:visited, .header .navigation__list__link--lang:link, .header .navigation__list__link--lang:visited {
  color: #9ba6c7;
  position: relative;
  text-decoration: none;
  margin-left: .5rem;
}

@media only screen and (min-width: 480px) {
  .header .navigation__list__link:link, .header .navigation__list__link:visited, .header .navigation__list__link--lang:link, .header .navigation__list__link--lang:visited {
    margin-left: 2rem;
  }
}

.header .navigation__list__link:hover, .header .navigation__list__link:active, .header .navigation__list__link--lang:hover, .header .navigation__list__link--lang:active {
  color: #2ecb6f;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #15202B;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12.5vh;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2.5rem 2rem;
  background-color: #15202B;
  -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

@media only screen and (min-width: 760px) {
  .contact__box__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.contact__box--item {
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: #9ba6c7;
  border-radius: 3px;
  border: none;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.contact__box--message {
  resize: none;
}

body {
  position: relative;
}

.social__left {
  position: fixed;
  bottom: 15vh;
  left: 5vw;
}

.social__img {
  margin-top: 1.5rem;
  display: block;
}

.social__img:link, .social__img:visited {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.social__img:link path, .social__img:visited path {
  fill: #9ba6c7;
}

.social__img:active path, .social__img:hover path {
  fill: #2ecb6f;
}

.social__right {
  position: fixed;
  bottom: 15vh;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  right: 5vw;
}

.social__right__email:link, .social__right__email:visited {
  color: #9ba6c7;
  text-decoration: none;
}

.social__right__email:hover, .social__right__email:active {
  color: #2ecb6f;
}

.line__left {
  display: block;
  position: fixed;
  bottom: 0;
  left: calc(5vw + 15px);
  height: 12.5vh;
  width: 1px;
  background-color: #9ba6c7;
}

.line__right {
  display: block;
  position: fixed;
  bottom: 0;
  right: calc(5vw + 12.5px);
  height: 12.5vh;
  width: 1px;
  background-color: #9ba6c7;
}

.line__right, .line__left, .social__right, .social__left {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .line__right, .line__left, .social__right, .social__left {
    display: block;
  }
}

.home {
  position: relative;
  min-height: 100vh;
}

.home__intro {
  position: absolute;
  top: 40%;
  -webkit-transform: translateY(-40%);
          transform: translateY(-40%);
}

.home__intro__hello {
  color: #27ae60;
}

.home__intro__job {
  color: #9ba6c7;
  margin-bottom: 2.5rem;
}

.home__intro__para {
  max-width: 42.5ch;
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  margin-bottom: 2.5rem;
}

.works__project {
  background-color: #15202B;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.2);
  max-width: 550px;
}

@media only screen and (min-width: 1200px) {
  .works__project {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    max-width: none;
  }
}

.works__project__name {
  margin-top: 0.25rem;
}

.works__project__featured {
  display: block;
  color: #27ae60;
  margin-top: 2rem;
}

.works__project__para {
  margin-bottom: 1rem;
}

.works__project__list--item {
  margin-left: 1rem;
  list-style-type: square;
}

.works__project__picture img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@media only screen and (min-width: 1200px) {
  .works__project__picture img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }
}

.works__project__texts {
  padding: 2rem;
  max-width: 550px;
}

.works__project__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.works__project__link {
  display: inline-block;
}

.works__project__img:hover path, .works__project__img:active path {
  fill: #2ecb6f;
}

@media only screen and (min-width: 760px) {
  .services__boxes {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (minmax(1fr, 300px))[2];
        grid-template-rows: repeat(2, minmax(1fr, 300px));
    grid-gap: 2rem;
  }
}

.services__box {
  background-color: #15202B;
  border-radius: 5px;
  padding: 2rem;
  max-width: 400px;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}

.services__box--1, .services__box--2 {
  margin-top: 2rem;
}

.services__box--name {
  color: #FFF;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: .75rem;
}

.services__box--para {
  font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

.contact__heading {
  margin-bottom: 2rem;
}

.contact__para {
  margin-bottom: 2.5rem;
}

.contact__social {
  margin-top: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact__social__link:active path, .contact__social__link:hover path {
  fill: #2ecb6f;
}

@media only screen and (min-width: 1200px) {
  .contact__social__link {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */