.contact {
    &__heading {
        margin-bottom: 2rem;
    }
    &__para {
        margin-bottom: 2.5rem;
    }
    &__social {
        margin-top: 2.5rem;
        display: flex;
        justify-content: space-around;
        &__link {
            &:link, &:visited {
                
            }
            &:active, &:hover {
                path {
                    fill: $color-hover;
                }
            }
            @media only screen and (min-width: $bp-lg) {
                display: none;
            }
        }
    }
}