.home {
    position: relative;
    min-height: 100vh;
    &__intro {
        position: absolute;
        top: 40%;
        transform: translateY(-40%);
        &__hello {
            color: $color-action;
        }
        &__name {
            color: $color-white;
        }
        &__job {
            margin-bottom: 2.5rem;
        }
        &__para {
            font-family: $font-serif;
            margin-bottom: 2.5rem;
        }
        
        
    }
}