.works {
    &__project {
        background-color: $color-box;
        border-radius: 5px;
        box-shadow: $box-shadow-md;
        max-width: 550px;
        @media only screen and (min-width: $bp-lg) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: none;
        }
        
        &__name {
            margin-top: 0.25rem;
            text-align: right;
        }
        &__featured {
            display: block;
            color: $color-action;
            margin-top: 2rem;
            text-align: right;
        }
        &__para {
            margin-bottom: 1rem;
        }
        &__list {
            &--item {
                margin-left: 1rem;
                list-style-type: square;
            }
        }
        &__picture {
            img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                @media only screen and (min-width: $bp-lg) {
                    border-top-right-radius: 0;
                    border-bottom-left-radius: 5px;
                }
            }
        }
        &__texts {
            padding: 2rem;
            max-width: 550px;
            
        }
        &__flex {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
        }
        &__link {
            display: inline-block;
        }
        &__img {
            &:link, &:visited {

            }
            &:hover, &:active {
                path {
                    fill: $color-hover;
                }
            }
        }
    }
}