<nav id="nav" class="navigation">
    {{ $logo := "img/logos/zero-logo.svg" | absURL}}
    <a href="#" class="navigation__logo"><img src="{{ $logo }}" alt="ZER000 logo"></a>
    <ul>
    {{ range .Site.Menus.main }}
            <li><a class="navigation__link" href="{{ .URL }}">{{ .Name }}</a></li>
    {{ end }}
        {{ range $.Site.Home.AllTranslations }}
            <li><a class="navigation__link--lang" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
        {{ end }}
    </ul>
</nav>
