<section class="home section">
    <div class="home__intro" >
        <span class="home__intro__hello" data-aos="fade-in" data-aos-delay="400">{{ .Site.Params.hello }}</span>
        <h1 class="home__intro__name h1" data-aos="fade-in" data-aos-delay="500">{{ .Site.Params.name }}</h1>
        <h1 class="home__intro__job h1" data-aos="fade-in" data-aos-delay="600">{{ .Site.Params.job }}</h1>
        <p class="home__intro__para para" data-aos="fade-in" data-aos-delay="700">{{ .Site.Params.whatido }}</p>
        <a href="#contact" class="home__intro__cta cta" data-aos="fade-in" data-aos-delay="800"> {{ .Site.Params.contact }}</a>
    </div>
</section>