<section class="section services" data-aos="fade-up">
    <h2 class="h2 services__heading" >{{ .Site.Params.serviceHeading }}</h2>
    <div class="services__boxes">
        <div class="services__box services__box--1" >
            <span class="services__box--name services__box--name--1">{{ .Site.Params.serviceName1 }}</span>
            <p class="services__box--para services__box--para--1">{{ .Site.Params.servicePara1 }}</p>
        </div>
        <div class="services__box services__box--2" >
            <span class="services__box--name services__box--name--2">{{ .Site.Params.serviceName2 }}</span>
            <p class="services__box--para services__box--para--2">{{ .Site.Params.servicePara2 }}</p>
        </div>
        <div class="services__box services__box--3" >
            <span class="services__box--name services__box--name--3" >{{ .Site.Params.serviceName3 }}</span>
            <p class="services__box--para services__box--para--3">{{ .Site.Params.servicePara3 }}</p>
        </div>
        <div class="services__box services__box--4" >
            <span class="services__box--name services__box--name--4">{{ .Site.Params.serviceName4 }}</span>
            <p class="services__box--para services__box--para--4">{{ .Site.Params.servicePara4 }}</p>
        </div>
    </div>
</section>