<section class="section works" id="works">
    <h2 class="works__heading h2">{{ .Site.Params.worksHeading }}</h2>
    <span class="works__project__featured">{{ .Site.Params.featuredProject }}</span>
    <h3 class="works__project__name">{{ .Site.Params.markus }}</h3>
    <div class="works__project works__project__markus">
        <picture class="works__project__picture">
            <img src="img/pictures/weights.png" alt="Weight plates">
        </picture>
        <div class="works__project__texts">
            <p class="para works__project__para">{{ .Site.Params.markusPara }}</p>
            <div class="works__project__flex">
                <ul class="works__project__list">
                    <li class="works__project__list--item">Web-design</li>
                    <li class="works__project__list--item">UI design</li>
                    <li class="works__project__list--item">Branding</li>
                </ul>
                <div class="work__project__links">
                    <a href="https://github.com/iamFuji/markusedzo" class="works__project__link"><img src="img/logos/github.svg" alt="Link to github repository"></a>
                    <a href="http://www.markustraining.com" class="works__project__link"><img src="img/logos/external.svg" alt="Link to external website"></a>
                </div>
            </div>
    </div>
</section>