h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
    color: $color-white;
    line-height: 1.1;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.75rem;
    color: $color-text;
}

.para {
    max-width: 60ch;
}

@media only screen and (min-width: $bp-sm) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}