h1 {
    font-size: 2.5em;
    line-height: 1.2;
}

h2 {
    font-size: 2em;
    color: $color-white;
    line-height: 1.1;
}


h3 {
    font-size: 1.75em;
    color: $color-text;
}

.para {
    max-width: 60ch;
}

@media only screen and (min-width: $bp-sm) {
    h1 {
        font-size: 3.5em;
    }
    h2 {
        font-size: 2.5em;
    }
}